@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';


/***** TABLE OF CONTENTS *****/
/*****  Mixins *****/
/***** 1. Main Navigation Bar *****/
/***** 2. Home Main *****/
/***** 3. Footer Section *****/
/***** 4. Programs *****/
/***** 5. Volunteering *****/
/***** 6. Mad Sam *****/
/***** 7. Sponsors *****/
/***** 8. Contact Us *****/
/***** 9. History *****/
/***** 10. Media Queries *****/

/*****  Mixins *****/

@mixin headerFonts {
  color: rgb(222, 218, 218);
  text-align:center;
  text-shadow: 3px 3px 3px black;
}

@mixin navBoxHome {
  @include span-columns(4);
  border: 1px black solid;
  box-shadow: 1px 1px 1px black;
  height: 20em;
  background-size: cover;
}
@mixin navBoxText {
  color: white;
  padding-top: 120px;
  font-size: 4.5em;
  text-shadow: 3px 3px 5px black;
  text-align:center;
  margin:0;
}
@mixin textContainers {
  @include shift(2);
  @include span-columns(8);
  box-shadow: 0px 1px 13px gray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  h1 {
    @include outer-container(80%);
    text-align:center;
    color: #586273;
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
  }
  h2 {
    color: #6C7077;
  }
}
/***** 1. Main Navigation Bar *****/
.mainNav {
  @include outer-container(100%)
  background-color: #1B4D55;
  height:4em;

  .nav {
    font-size:1.3em;
  }

  ul {
    @include span-columns(12);
    margin:0;
    color:white;

    li:nth-child(1) {
      @include shift(0.3);
    }
    li {
      display:inline-block;
      list-style: none;
      margin-right:20px;
      padding-top:20px;

      a {
        text-decoration: none;
        color:white;
      }
    }

    .mobileNav {
      display:none;
    }

    .scrollDown {
      cursor: pointer;

      .navHide {
        @include span-columns(3);
        color:white;
        padding:10px 10px 10px 15px;
        position:absolute;
        display:none;
        background: rgba(27, 77, 85, 0.83);
        li {
          @include span-columns(12);
          padding:0 0 8px 0;
          float:left;
          margin-left:0;
        }
      }
    }
    .socialMediaIcons{
      @include span-columns(3);
      float:right;
      padding-top: 12px;
      a{
        li{
          width:2.8em;
          padding-top: 5px;
          padding-bottom:5px;
          list-style: none;
          border-radius: 10%;
          text-align:center;
          display:inline-block;
          float:left;
          margin:0 8px 0 0;

          i{
            font-size:1.5em;
            color:white;
          }
        }
        .facebook{
          background: #445897;
        }

        .instagram{
          background: #8A5A4E;
        }

        .twitter{
          background: #6A8DC7;
        }
      }
    }
  }
}

/***** 2. Home Main *****/
main {
  @include outer-container(100%)
}
.homeMain:before, .homeMain:after {
  content: " ";
  display: block;
  clear:both;
}
.homeMain {
  @include span-columns(12);
  header:before, header:after {
    content: " ";
    display: block;
    clear:both;
  }

  header {
    @include span-columns(12);
    background: url('../img/ThePath.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    float:none;
    padding: 50px 0;

    h1 {
      @include headerFonts;
      font-size:4em;
      margin-top:0;
    }

    h3 {
      @include headerFonts;
      @include span-columns (9);
      @include shift (1.5);
      text-align: left;
      font-size:1.8em;
      margin-bottom:0;
    }

    h4 {
      @include headerFonts;
      @include span-columns(5);
      @include shift(6.8);
      font-size:1.3em;
      margin-top: 1em;
    }
    .phoneNumber {
      float:left;
      width:100%;
      text-decoration:none;

      h2 {
        @include headerFonts;
        font-size: 3em;
      }
    }
  }
  .motto:before, .motto:after {
    content: " ";
    display: block;
    clear:both;
  }
  .motto {
    @include span-columns(12);
    background: url("../img/checkered_pattern.png");
    text-align:center;
    font-size: 2.5em;
    padding: 20px 30px;
    p {
      font-family: init;
      font-style: italic;
      color:white;
      text-shadow: 3px 2px 3px black;
    }
  }
  nav:before, nav:after {
    content: " ";
    display: block;
    clear:both;
  }
  nav {
    @include span-columns(12);
    padding-bottom:1%;
    ul {
      padding:0 1% 0 1%;
      li {
        list-style: none;
      }
      .missionBox {
        @include navBoxHome;
        background: url('../img/BookThinking.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        cursor: hand;
        p {
          @include navBoxText;
        }
        .shadowDivOne {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      .aboutBox {
        @include navBoxHome;
        background: url('../img/Flower.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        cursor: hand;
        p {
          @include navBoxText;
        }
        .shadowDivTwo {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      .joinBox {
        @include navBoxHome;
        background: url('../img/Togather.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        cursor: hand;
        p{
          @include navBoxText;
        }
        .shadowDivThree {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      // Hover Effects for nav boxes on home page
      .missionBox:hover{
        .shadowDivOne{
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
      .aboutBox:hover {
        .shadowDivTwo {
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
      .joinBox:hover {
        .shadowDivThree {
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
    }
  }
  article {
    @include span-columns(9);
    @include shift(1.5);
    border: 1px black solid;
    float: left;
    background:rgba(46, 97, 105, 0.89);
    margin-bottom:2%;

    p {
      padding: 10px 4% 10px 4%;
      font-size: 1.5em;
      color: white;
      text-shadow: 3px 3px 4px black;
    }
    a {
      color: white;
      text-decoration:none;
      font-weight:bold;
    }
  }
  #missionArticle {
    display:none;
  }
  #aboutArticle {
    display:none;
  }
  #joinArticle {
    display:none;
  }
}

/******* Footer Section *******/
footer:before, footer:after {
  content: " ";
  display: block;
  clear:both;
}

footer {
  @include outer-container(85%);
  border-top: 1px solid rgba(128, 128, 128, 0.16);

  .footerLinks {
    @include span-columns(12);

    .pageLinks, .afilLinks {
      @include span-columns(4);
      display:inline-block;
      margin-right:0;
      font-size: 1.3em;

      li {
        padding-bottom: 3px;
      }

      span:first-child {
        display:block;
        margin-bottom:5px;
      }
    }
    .mainLogo, .fccLogo {
      @include span-columns(2);
      display:inline-block;
      margin-right:0;
    }
    a {
      color:black;
      text-decoration: none;
    }
    .mainLogo img {
      height: 7em;
      width: 7em;
    }
    .pageLinks {
      .footerNav {
        font-weight:bold
      }
      li {
        list-style: none;
      }
    }
    .afilLinks {
      .footerNav{
        font-weight:bold;
      }
      li {
        list-style: none;
      }
    }
    .fccLogo img {
      height: 7em;
      width: 7em;
      float:right;
    }
    .mobileLogo {
      display:none;
    }
  }
}


/***** 4. Programs *****/
.programsContainer {
  @include outer-container(100%);

  header {
    @include span-columns(12);
    height: 23em;
    background: url('../img/CrossMountain.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .programsText {
    @include textContainers;
  }
}

/***** 5. Volunteering *****/
.volunteerContainer {
  @include outer-container(100%);
  header {
    @include span-columns(12);
    height: 23em;
    background: url('../img/TheTree.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .volunteerText {
    @include textContainers;
  }
}

/***** 6. Mad Sam *****/
.madSamContainer {
  @include textContainers;

  .madSamLogo {
    @include span-columns(4);
    margin-top: 60px;
    height: 11em;
    background: url('../img/MadSam.jpg') no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .madSamText {
    @include span-columns(8);
    float:right;
  }
}
/***** 7. Sponsors *****/
.sponsorsContainer {
  @include textContainers;

  h2 {
    color:black;
  }
  li {
    list-style:none;
  }
  a {
    color:black;
    text-decoration:none;
  }
}

/***** 8. Contact Us *****/
.contactusContainer {
  @include textContainers;

  .contactusText {
    h2, h3 {
      text-align:center;
    }
    h3 a {
      color:black;
      text-decoration: none;
    }
    .facebookLink {
      color:#445897;
    }
    .twiiterLink {
      color:#8A5A4E;
    }
    .instagramLink {
      color:#6A8DC7;
    }
  }
}
/***** 9. History *****/
.historyContainer {
  @include textContainers;
}
/***** 10. Media Queries *****/
@media (min-width: 801px) and (max-width: 1100px) {
  /*** Main Navigation Bar ***/
  .mainNav {
    .nav {
      font-size:1.1em;
      padding-left:20px;
    }
    ul {
      li:nth-child(1) {
        @include shift(0.15);
      }
      li {
        padding-top:20px;
      }

      .scrollDown {

        .navHide {
          @include span-columns(4);
          position:absolute;
          display:none;
          li {
          }
        }
      }
      .socialMediaIcons{
        ul {
          padding-left:0;
        }
      }
    }
  }

  /*****  Home Main *****/
  .homeMain {

    header {
      padding: 40px 0;

      h1 {
        @include headerFonts;
        font-size:3.5em;
        margin-top:0;
      }

      h3 {
        font-size:1.6em;
      }

      h4 {
        @include headerFonts;
        @include span-columns(5);
        @include shift(6);
        font-size:1.3em;
        margin-top: 1em;
      }
      .phoneNumber {
        h2 {
          @include headerFonts;
          font-size: 2.5em;
        }
      }
    }
    .motto {
      font-size: 2.4em;
      padding: 20px 60px 0 60px;
    }
    nav {
      ul {
        .missionBox {
          height:15em;
          p {
            padding-top:100px;
            font-size:3.0em;
          }
        }
        .aboutBox {
          height:15em;
          p {
            padding-top:100px;
            font-size:3.0em;
          }
        }
        .joinBox {
          height:15em;
          p {
            padding-top:100px;
            font-size:3.0em;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .mainNav {

    .nav {
      font-size:1.3em;
    }

    ul {

      li {
        display:none;
      }
      li:nth-child(1) {
        margin-left:0;
      }
      .mobileNav {
        display:block;;
        padding-top:14px;
        @include span-columns(2);

        .mobileMenu {
          @include span-columns(8);
          display:none;
          position:absolute;
          background-color:rgba(27, 77, 85, 0.9);
          padding: 0 0 15px 15px;
          top: 60px;

          li:nth-child(1) {
            padding-top:10px;
          }

          li {
            display:block;
            @include span-columns(12);
          }
          .expandNavMobile {
            .navHideMobile {
              display:none;
            }
          }
        }
      }

      .socialMediaIcons{
        @include span-columns(7);
        float:right;
        padding-right:5px;
        a{
          li{
            float:right;

            i{
              font-size:1.5em;
              color:white;
            }
          }
        }
      }
    }
  }

/* Home Page */
.homeMain {

    header {
      padding:30px 0;

      h1 {
        @include headerFonts;
        font-size:3.2em;
        margin-top:0;
      }

      h3 {
        @include span-columns(10);
        @include shift(1);
        font-size:1.3em;
      }

      h4 {
        @include headerFonts;
        @include span-columns(6);
        @include shift(5);
        font-size:1.3em;
        margin-top: 1em;
      }
      .phoneNumber {
        h2 {
          @include headerFonts;
          font-size: 2.3em;
        }
      }
    }
    .motto {
      font-size: 2em;
      padding: 20px 30px 0 30px;

      p {
        margin-top:25px;
      }
    }
    nav {
      ul {
        .missionBox {
          height:13em;
          p {
            padding-top: 90px;
            font-size: 2.2em;
          }
        }
        .aboutBox {
          height:13em;
          p {
            padding-top: 90px;
            font-size: 2.2em;
          }
        }
        .joinBox {
          height:13em;
          p {
            padding-top: 90px;
            font-size: 2.2em;
          }
        }
      }
    }
  }

  /******* Footer Section *******/

  footer {
    @include outer-container(95%);

    .footerLinks {
      @include span-columns(12);
      padding-left:0;

      .mainLogo {
        @include span-columns(2);
      }
      .fccLogo {
        @include span-columns(2);
      }
       .afilLinks, .pageLink {
        @include span-columns(4);
        display:inline-block;
      }
      a {
        color:black;
        text-decoration: none;
      }
      .mainLogo img {
        height: 6em;
        width: 5em;
      }
      .pageLinks {
        ul {
          padding-left:10px;
        }
      }
      .afilLinks {
        ul {
          padding-left:10px;
        }
      }
      .fccLogo img {
        height: 6em;
        width: 5em;
        float:right;
      }
    }
  }

  /***** Programs *****/
  .programsContainer {
    @include outer-container(100%);

    .programsText {
      @include shift(0.75);
      @include span-columns(10.5);
    }
  }

  /***** Volunteering *****/
    .volunteerContainer {
    .volunteerText {
      @include shift(0.75);
      @include span-columns(10.5);
    }
  }
  /***** Mad Sam *****/
  .madSamContainer {
    @include shift(0.75);
    @include span-columns(10.5);

    .madSamLogo {
      @include span-columns(5);
      margin-top: 60px;
      height: 11em;
      background: url('../img/MadSam.jpg') no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .madSamText {
      @include span-columns(7);
      float:right;
    }
  }
  /***** Sponsors *****/
  .sponsorsContainer {
    @include shift(0.75);
    @include span-columns(10.5);

    h2 {
      color:black;
    }
    li {
      list-style:none;
    }
    a {
      color:black;
      text-decoration:none;
    }
  }

  /***** Contact Us *****/
  .contactusContainer {
    @include shift(0.75);
    @include span-columns(10.5);

    .contactusText {
      h2, h3 {
        text-align:center;
      }
      h3 a {
        color:black;
        text-decoration: none;
      }
      .facebookLink {
        color:#445897;
      }
      .twiiterLink {
        color:#8A5A4E;
      }
      .instagramLink {
        color:#6A8DC7;
      }
    }
  }
  /***** History *****/
  .historyContainer {
    @include shift(0.75);
    @include span-columns(10.5);
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  .mainNav {
    position:fixed;
    width:100%;

    .nav {
      font-size:1.3em;
    }

    ul {

      li {
        display:none;
      }
      li:nth-child(1) {
        margin-left:0;
      }
      .mobileNav {
        display:block;;
        padding-top:14px;
        @include span-columns(2);

        .mobileMenu {
          @include span-columns(10);
          display:none;
          position:absolute;
          background-color:rgba(27, 77, 85, 0.9);
          padding-bottom:15px;
          top: 60px;
          left:0;
          padding-left:15px;

          li:nth-child(1) {
            padding-top:10px;
          }

          li {
            display:block;
            @include span-columns(12);
          }
          .expandNavMobile {
            .navHideMobile {
              display:none;
            }
          }
        }
      }

      .socialMediaIcons{
        @include span-columns(9);
        float:right;
        padding-right:5px;
        ul {
          padding-left:0;
          a{
            li{
              float:right;

              i{
                font-size:1.5em;
                color:white;
              }
            }
          }
        }
      }
    }
  }

/* Home Page */
.homeMain {
  margin-top:63px;
    header {
      padding:30px 0;

      h1 {
        font-size:2.3em;
        margin-top:0;
        color:white;
      }

      h3 {
        font-size:1.2em;
        float:none;
        color:white;
      }

      h4 {
        @include span-columns(5);
        @include shift(6);
        font-size:1.3em;
        margin-top: 1em;
        color:white;
      }
      .phoneNumber {
        h2 {
          font-size: 2.1em;
          color:white;
          margin-top:0;
        }
      }
    }
    .motto {
      font-size: 2em;
      padding: 20px 30px 0 30px;

      p {
        margin-top:25px;
      }
    }
    nav {
      ul {
        .missionBox {
          @include span-columns(10);
          @include shift(1);
          height:7em;
          margin-bottom:5px;
          p {
            padding-top: 40px;
            font-size: 2em;
          }
        }
        .aboutBox {
          @include span-columns(10);
          @include shift(1);
          height:7em;
          margin-bottom:5px;
          p {
            padding-top: 40px;
            font-size: 2em;
          }
        }
        .joinBox {
          @include span-columns(10);
          @include shift(1);
          height:7em;
          margin-bottom:5px;
          p {
            padding-top: 40px;
            font-size: 2em;
          }
        }
      }
    }
    article {
      @include span-columns(11);
      @include shift(0.5);

      p {
        font-size:1.3em;
      }
    }
  }

  /******* Footer Section *******/

  footer {
    @include outer-container(95%);

    .footerLinks {
      @include span-columns(12);
      padding-left:0;

      .mainLogo {
        display:none;
      }
      .fccLogo {
        display:none;
      }

      a {
        color:black;
        text-decoration: none;
      }
      .pageLinks {
        @include span-columns(6);
        ul {
          padding-left:10px;
          @include span-columns(12);
          display:block;

          li {
            padding-bottom: 8px;
          }
        }
      }
      .afilLinks {
        @include span-columns(5.7);
        ul {
          padding-left:10px;
          @include span-columns(12);
          display:block;

          li {
            padding-bottom: 8px;
          }
        }
      }
      .mobileLogo {
        display:block;
        padding:0;
        margin-top:15px;
        @include span-columns(12);

        .mainLogoMobile, .fccLogoMobile {
          @include span-columns(6);
          list-style: none;
        }
        .fccLogoMobile {
          text-align:right;
        }
        .mainLogoMobile img {
          height: 7em;
          width: 6em;
          text-align:left;
        }
        .fccLogoMobile img {
          height: 7em;
          width: 6em;
          text-align:right;
          float:none;
        }
      }
    }
  }

  /***** Programs *****/
  .programsContainer {
    @include outer-container(100%);

    .programsText {
      @include shift(0.5);
      @include span-columns(11);
    }
  }

  /***** Volunteering *****/
    .volunteerContainer {
    .volunteerText {
      @include shift(0.5);
      @include span-columns(11);
    }
  }
  /***** Mad Sam *****/
  .madSamContainer {
    @include shift(0.5);
    @include span-columns(11);

    .madSamLogo {
      @include span-columns(8);
      margin-top: 60px;
      height: 11em;
      background: url('../img/MadSam.jpg') no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .madSamText {
      @include span-columns(7);
      float:right;
    }
  }
  /***** Sponsors *****/
  .sponsorsContainer {
    @include shift(0.5);
    @include span-columns(11);

    h2 {
      color:black;
    }
    li {
      list-style:none;
    }
    a {
      color:black;
      text-decoration:none;
    }
  }

  /***** Contact Us *****/
  .contactusContainer {
    @include shift(0.5);
    @include span-columns(11);

    .contactusText {
      h2, h3 {
        text-align:center;
      }
      h3 a {
        color:black;
        text-decoration: none;
      }
      .facebookLink {
        color:#445897;
      }
      .twiiterLink {
        color:#8A5A4E;
      }
      .instagramLink {
        color:#6A8DC7;
      }
    }
  }
  /***** History *****/
  .historyContainer {
    @include shift(0.75);
    @include span-columns(10.5);
  }
}
