@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';

//
/***** TABLE OF CONTENTS *****/
/***** 1. Main Navigation Bar *****/
/***** 2. Home Main *****/
/***** 3. Footer Section *****/
/***** 4. Programs *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
/***** TABLE OF CONTENTS *****/
//
//Mixins

@mixin headerFonts {
  color: rgb(222, 218, 218);
  text-align:center;
  text-shadow: 3px 3px 3px black;
}

@mixin navBoxHome {
  @include span-columns(4);
  border: 1px black solid;
  box-shadow: 1px 1px 1px black;
  height: 20em;
  background-size: cover;
}
@mixin navBoxText {
  color: white;
  padding-top: 23%;
  font-size: 4.5em;
  text-shadow: 3px 3px 5px black;
  text-align:center;
  margin:0;
}
@mixin textContainers {
  @include shift(2);
  @include span-columns(8);
  box-shadow: 0px 1px 13px gray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  h1 {
    @include outer-container(80%);
    text-align:center;
    color: #586273;
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
  }
  h2 {
    color: #6C7077;
  }
}
/***** 1. Main Navigation Bar *****/
.mainNav {
  @include outer-container(100%)
  background-color: #1B4D55;
  height:4em;

  .nav {
    font-size:1.3em;
  }

  ul {
    @include span-columns(12);
    margin:0;
    color:white;

    li:nth-child(1) {
      @include shift(0.3);
    }
    li {
      display:inline-block;
      list-style: none;
      margin-right:3%;
      padding-top:20px;

      a {
        text-decoration: none;
        color:white;
      }
    }

    .scrollDown {
      cursor: pointer;

      .navHide {
        @include span-columns(3);
        color:white;
        padding:0;
        position:absolute;
        display:none;
        background: rgba(27, 77, 85, 0.83);
        li {
          @include span-columns(12);
          float:left;
          padding-left:2%;
        }
      }
    }
    .socialMediaIcons{
      @include span-columns(3);
      float:right;
      padding-top: 12px;
      a{
        li{
          width:2.8em;
          padding-top: 5px;
          padding-bottom:5px;
          list-style: none;
          border-radius: 10%;
          text-align:center;
          display:inline-block;
          float:left;
          margin:0 8px 0 0;

          i{
            font-size:1.5em;
            color:white;
          }
        }
        .facebook{
          background: #445897;
        }

        .instagram{
          background: #8A5A4E;
        }

        .twitter{
          background: #6A8DC7;
        }
      }
    }
  }
}

/***** 2. Home Main *****/
main {
  @include outer-container(100%)
}
.homeMain:before, .homeMain:after {
  content: " ";
  display: block;
  clear:both;
}
.homeMain {
  @include span-columns(12);
  header:before, header:after {
    content: " ";
    display: block;
    clear:both;
  }

  header {
    @include span-columns(12);
    background-image: url('../img/ThePath.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60em;
    background-position: 0em -13.5em;
    height:40em;
    float:none;
    padding-top: 90px;

    h1 {
      @include headerFonts;
      font-size:4em;
      margin-top:0;
    }

    h3 {
      @include headerFonts;
      @include span-columns (9);
      @include shift (1.5);
      text-align: left;
      font-size:1.8em;
      margin-bottom:0;
    }

    h4 {
      @include headerFonts;
      @include span-columns(5);
      @include shift(6.8);
      font-size:1.3em;
      margin-top: 1em;
    }
    .phoneNumber {
      float:left;
      width:100%;
      text-decoration:none;

      h2 {
        @include headerFonts;
        font-size: 3em;
      }
    }
  }
  .motto:before, .motto:after {
    content: " ";
    display: block;
    clear:both;
  }
  .motto {
    @include span-columns(12);
    background: url("../img/checkered_pattern.png");
    text-align:center;
    height:5em;
    font-size: 2.5em;
    padding-top: 40px;
    p {
      font-family: init;
      font-style: italic;
      color:white;
      text-shadow: 3px 2px 3px black;
    }
  }
  nav:before, nav:after {
    content: " ";
    display: block;
    clear:both;
  }
  nav {
    @include span-columns(12);
    padding-bottom:1%;
    ul {
      padding:0 1% 0 1%;
      li {
        list-style: none;
      }
      .missionBox {
        @include navBoxHome;
        background-image:url('../img/BookThinking.jpg');
        cursor: pointer;
        cursor: hand;
        p {
          @include navBoxText;
        }
        .shadowDivOne {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      .aboutBox {
        @include navBoxHome;
        background-image:url('../img/Flower.jpg');
        cursor: pointer;
        cursor: hand;
        p {
          @include navBoxText;
        }
        .shadowDivTwo {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      .joinBox {
        @include navBoxHome;
        background-image:url('../img/Togather.jpg');
        cursor: pointer;
        cursor: hand;
        p{
          @include navBoxText;
        }
        .shadowDivThree {
          width:100%;
          height:100%;
          background-color:none;
          transition: background-color, 1s;
        }
      }
      // Hover Effects for nav boxes on home page
      .missionBox:hover{
        .shadowDivOne{
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
      .aboutBox:hover {
        .shadowDivTwo {
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
      .joinBox:hover {
        .shadowDivThree {
          background-color:rgba(14, 51, 90, 0.65);
        }
      }
    }
  }
  article {
    @include span-columns(9);
    @include shift(1.5);
    border: 1px black solid;
    float: left;
    background:rgba(46, 97, 105, 0.89);
    margin-bottom:2%;

    p {
      padding: 10px 4% 10px 4%;
      font-size: 1.5em;
      color: white;
      text-shadow: 3px 3px 4px black;
    }
    a {
      color: white;
      text-decoration:none;
      font-weight:bold;
    }
  }
  #missionArticle {
    display:none;
  }
  #aboutArticle {
    display:none;
  }
  #joinArticle {
    display:none;
  }
}

/******* Footer Section *******/
footer:before, footer:after {
  content: " ";
  display: block;
  clear:both;
}

footer {
  @include outer-container(85%);
  border-top: 1px solid rgba(128, 128, 128, 0.16);

  .footerLinks {
    @include span-columns(12);

    .mainLogo, .pageLinks, .afilLinks, .fccLogo {
      @include span-columns(3);
      display:inline-block;
    }
    a {
      color:black;
      text-decoration: none;
    }
    .mainLogo img {
      height: 7em;
      width: 7em;
    }
    .pageLinks {
      .footerNav {
        font-weight:bold
      }
      li {
        list-style: none;
      }
    }
    .afilLinks {
      .footerNav{
        font-weight:bold;
      }
      li {
        list-style: none;
      }
    }
    .fccLogo img {
      height: 7em;
      width: 7em;
      float:right;
    }
  }
}


/***** 4. Programs *****/
.programsContainer {
  @include outer-container(100%);

  header {
    @include span-columns(12);
    height: 23em;
    background: url('../img/CrossMountain.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .programsText {
    @include textContainers;
  }
}

// Styling for Volunteering
.volunteerContainer {
  @include outer-container(100%);
  header {
    @include span-columns(12);
    height: 23em;
    background: url('../img/TheTree.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .volunteerText {
    @include textContainers;
  }
}

// Styling for Mad Sam
.madSamContainer {
  @include outer-container(70%);
}


@media (min-width: 900px) and (max-width: 1100px) {
  main {
  }
}
