@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';

//Styling for NavBar
.mainNav {
  @include outer-container(100%)
  background-color: #1B4D55;
  height:3em;

  ul {
    @include span-columns(12);
    margin:0;
    color:white;

    li {
      @include span-columns(1.5);
      display:inline-block;
      list-style: none;

      a {
        text-decoration: none;
        color:white;
      }
    }

    .scrollDown {
      cursor: pointer;

      .navHide {
        color:white;
        padding:0;
        display:none;
        li {
          @include span-columns(12);
          float:left;
        }
      }
    }
    .scrollDown:hover {

      .navHide{
        display:block;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        background:black;
      }
    }
    .socialMediaIcons{
      @include span-columns(1.8);
      position:absolute;
      left:85%;
      a{
        li{
          width:3.4em;
          padding-top: 6px;
          padding-bottom:6px;
          list-style: none;
          border-radius: 10%;
          text-align:center;
          display:inline-block;
          margin-right:4px;

          i{
            font-size:2.3em;
            color:white;
          }
        }
        .facebook{
          background: #445897;
        }

        .instagram{
          background: #8A5A4E;
        }

        .twitter{
          background: #6A8DC7;
        }
      }
    }
  }
}


// For main that is in every page
main{
  @include outer-container(100%)
}

// Home Styling Section
.homeMain{
  @include span-columns(12);
  position:absolute;
  background: rgba(130, 130, 122, 0.2);

  header{
    @include span-columns(12);
    background-image: url('../img/ThePath.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60em;
    background-position: 0em -13.5em;
    height:40em;

    h1{
      color:white;
      text-align:center;
    }

    h3{
      color:white;
      text-align:center;
    }

    h4{
      color:white;
      text-align:center;
    }

    h2{
      color:white;
      text-align:center;
    }
  }
  .motto{
    @include span-columns(12);
    // background-color:#7C7C6F;
    background: url("../img/texture.jpg");
    // background-repeat: no-repeat;
    text-align:center;
    height:10em;
    font-size: 2em;
    padding-top: 5%;
    p {
      font-family: init;
      font-style: italic;
    }
  }

  nav{
    @include span-columns(12);

    ul{
      li{
        list-style: none;
      }
    }
  }
}

//Styling for Programs
.programContainer {
  @include span-columns(12);
  position: absolute;
}

// Styling for Volunteering
.volunteerContainer {
  @include span-columns(12);
  position: absolute;
}

// Styling for Mad Sam
.madSamContainer {
  @include span-columns(12);
  position: absolute;
}
